---
layout: default
title: Dan Kang
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="title">
      <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    </h1>
    <div class="content">
      <p class="meta">{{ post.date | date_to_long_string }}</p>
      {{ post.content }}
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  <span class="previous">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" title="Previous Page">&laquo; Previous</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
    {% endif %}
    {% endif %}
  </span>
  <span class="next">
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %}
  </span>
</div>
